.grid {
  display: grid;
  gap: var(--space-md);
}

@media (width<= 768px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }

  .col-span-6 {
    grid-column: span 6;
  }

  .col-span-4 {
    grid-column: span 4;
  }
}
