.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;

}
.home-content {
  position: relative;
  z-index: 1;
  padding: 2rem;
  color: var(--text-color); 
}

@media (max-width: 768px) {
  .home-container {
    gap: 3rem;
    padding: 0 1rem;
  }
}

[data-theme="dark"] .home-container {
  background-color: rgb(39, 37, 45);
}