<header class="header" [class.scrolled]="isScrolled()">
  <div class="header-container">
    <div class="header-left">
      <a routerLink="/" class="logo" (click)="closeMenu()" [attr.aria-label]="'Ir al inicio'">
        <app-logo />
      </a>
      <!-- Links desktop -->
      <ng-container *ngIf="!isMobileView()">
        <app-nav-links [mobileMenuOpen]="false" [isMobileView]="isMobileView"></app-nav-links>
      </ng-container>
    </div>

    <!-- Toggle solo  desktop -->
    <ng-container *ngIf="!isMobileView()">
      <div class="header-right">
        <app-theme-toggle />
      </div>
    </ng-container>

    <!-- Burger solo  mobile -->
    <button *ngIf="isMobileView()" class="burger" [class.active]="menuOpen()" (click)="toggleMenu()"
      [attr.aria-label]="menuOpen() ? 'Close navigation menu' : 'Open navigation menu'"
      [attr.aria-expanded]="menuOpen()" type="button">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </button>
  </div>

  <!-- Menú mobile outside flow flex, under header -->
  <div class="nav-wrapper" *ngIf="isMobileView()" [class.open]="menuOpen()"
    [attr.inert]="(isMobileView() && !menuOpen()) ? true : null">
    <app-nav-links [mobileMenuOpen]="menuOpen()" [isMobileView]="isMobileView"
      (linkClick)="closeMenu()"></app-nav-links>
    <div class="mobile-toggle-wrapper">
      <app-theme-toggle />
    </div>
  </div>
</header>